<section class="references-section">
  <div class="content-wrapper">
    <h2>Need a teamplayer?</h2>
    <p>Here is what my colleagues said about me</p>
    <div class="references-carousel">
      @for (ref of references; track ref.name) {
        <div class="reference-block">
          <div class="name-container">
            <div class="name-surname">{{ ref.name }}</div>
            <div class="project-name">{{ ref.project }}</div>
          </div>
          <div class="text">"{{ ref.text }}"</div>
        </div>
      }
    </div>
  </div>
</section>
