.header {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name {
  font-size: 24px;
  font-weight: bold;
}

.header-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}