<header class="header-menu">
  <div class="logo">
    <img src="assets/img/logo.png" alt="logo" />
  </div>
  <div class="frame-365">
    <div class="menu-s2">
      <div class="button-menu">About me</div>
      <div class="button-menu">Skills</div>
      <div class="button-menu">My work</div>
    </div>
    <div class="frame-615">
      <div class="frame-614">
        <div class="language-button">EN</div>
        <div class="separator">/</div>
        <div class="language-button active">DE</div>
      </div>
    </div>
  </div>
</header>
