.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icons a {
  margin: 0 10px;
}

.footer-icons img {
  width: 24px;
  height: 24px;
}
