<section class="about-me-container">
  <div class="about-content">
    <div class="left-column">
      <h2 class="title">Let's work together</h2>
      <h3 class="subtitle">I am</h3>
      <ul class="info-list">
        <li>
          <img src="assets/img/located.png" alt="Location icon" />
          <span>located in Munich</span>
        </li>
        <li>
          <img src="assets/img/remote.png" alt="Remote work icon" />
          <span>open to work remote</span>
        </li>
        <li>
          <img src="assets/img/relocate.png" alt="Relocate icon" />
          <span>open to relocate</span>
        </li>
      </ul>
    </div>
    <div class="right-column">
      <p>
        Write some information about yourself that is IT related. Why are you
        passionate about programming? What is your source of inspiration for
        improving your coding skills? Show a desire to learn new technologies.
      </p>
      <p>
        Describe your approach to problem solving. Do you learn from each
        challenge to find the most efficient or elegant solution? You can
        include some key attributes such as: analytical thinking, creativity,
        persistence and collaboration.
      </p>
      <button class="btn-primary">Send a message</button>
    </div>
  </div>
</section>
