<section class="hero-section">
  <div class="hero-bg"></div>
  <div class="ellipse"></div>
  <div class="line"></div>
  <div class="scroll">SCROLL</div>
  <div class="job-title">
    <div class="frontend">FRONTEND</div>
    <div class="developer">DEVELOPER</div>
  </div>
  <div class="hello">Hello! I am Sofia</div>
  <div class="photo"></div>
  <div class="social-media">
    <div class="github-button"></div>
    <div class="email-button"></div>
    <div class="linkedin-button"></div>
  </div>
</section>
