:host {
  background-color: transparent; // Ensure component host doesn't block the background
}

.contact-section {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 100px 50px;
  overflow: hidden;
  background: var(--bg-gradient-blue); // Apply the desired background gradient
}

.contact-content {
  display: flex;
  justify-content: space-between;
  max-width: 1241px;
  width: 100%;
  gap: 80px;
  z-index: 1;
}

.contact-text {
  max-width: 450px;
}

.contact-text h1 {
  font-family: "Baloo 2", cursive;
  font-size: 90px;
  color: #5988ff;
  margin-bottom: 20px;
}

.contact-text h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #5988ff;
  margin-bottom: 20px;
}

.contact-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000000;
}

.contact-form-container {
  max-width: 617px;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: 1px solid #5988ff;
  border-radius: 10px;
  background: #ffffff;
  padding: 15px 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

input[type="text"],
input[type="email"] {
  height: 50px;
}

textarea {
  height: 202px;
  resize: none;
}

.privacy-policy {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.privacy-policy input[type="checkbox"] {
  margin-right: 10px;
}

.privacy-policy label {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.privacy-policy a {
  color: #5988ff;
  text-decoration: underline;
}

.btn-send {
  width: auto;
  height: 58px;
  padding: 15px 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 23px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-send:disabled {
  border: 2px solid #bbbbbb;
  background-color: #f0f0f0;
  color: #bbbbbb;
  cursor: not-allowed;
}

.btn-send:not(:disabled) {
  background: #5988ff;
  color: #ffffff;
  border: 2px solid #5988ff;
}

.error-message {
  color: red;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 5px;
}

.checkbox-error {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .contact-section {
    padding: 40px 20px;
  }

  .contact-content {
    flex-direction: column;
    gap: 40px;
  }

  .contact-text {
    max-width: 100%;
    text-align: center;
  }

  .contact-text h1 {
    font-size: 45px;
  }

  .contact-text h2 {
    font-size: 23px;
  }

  .contact-form-container {
    max-width: 100%;
  }

  input[type="text"],
  input[type="email"] {
    height: 40px;
  }

  textarea {
    height: 162px;
  }

  .btn-send {
    width: 100%;
    height: 54px;
    padding: 13px 24px;
  }

  .privacy-policy label {
    font-size: 12px;
  }

  .error-message {
    font-size: 10px;
  }
}