<section class="contact-section">
  <div class="contact-content">
    <div class="contact-left">
      <h2 class="contact-title">Let's work together</h2>
      <div class="availability-group">
        <p class="availability-headline">I am</p>
        <div class="availability-icons">
          <div class="icon-group location">
            <img src="assets/img/located.png" alt="located" />
            <span>Based in Germany</span>
          </div>
          <div class="icon-group remote">
            <img src="assets/img/remote.png" alt="located" />
            <span>Available for remote work</span>
          </div>
          <div class="icon-group relocate">
            <img src="assets/img/relocate.png" alt="located" />
            <span>Open to relocation</span>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-right">
      <p class="contact-text-1">
        I'm always excited to connect with new people and explore interesting
        projects. Whether you have a question, a proposal, or just want to say
        hello, feel free to reach out.
      </p>
      <p class="contact-text-2">
        My inbox is always open, and I'll do my best to get back to you as soon
        as possible. Let's create something amazing together!
      </p>
      <a href="mailto:example@email.com" class="send-message-button"
        >Send a message</a
      >
    </div>
  </div>
</section>
