.skillset-section {
  position: relative;
  width: 100%;
  background: linear-gradient(
    128.94deg,
    #5988ff -33.96%,
    #5988ff 36.71%,
    #0043f0 112.25%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  min-height: 500px;
  border: none;
  box-shadow: none;
}

h2 {
  font-family: "Baloo 2", cursive;
  color: #ffffff;
  font-size: clamp(48px, 8vw, 96px);
  border-bottom: none; /* Remove underline */
  padding-bottom: 0; /* Add some space between text and potential border */
  margin-bottom: 40px; /* Add space below the title */
  text-align: center; /* Center the title */
  width: 100%; /* Make h2 full width */
}

.skill-set-icons {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.skill-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;

  .icon-name {
    color: white;
    font-family: "Montserrat", sans-serif;
  }
}

.skill-icon {
  .icon-placeholder {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 50px;
  }
}

@media (min-width: 768px) {
  .skillset-section {
    padding: 150px 50px;
  }

  .skill-set-icons {
    max-width: 1200px;
    gap: 60px;
  }

  .skill-row {
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
  }

  .skill-icon {
    .icon-placeholder {
      width: 75px;
      height: 75px;
      font-size: 75px;
    }
  }
}
