<section class="skillset-section">
  <h2>Skill set</h2>
  <div class="skill-set-icons">
    <div class="skill-row skill-row-1">
      <div class="skill-item">
        <div class="skill-icon">
          <div class="icon-placeholder"></div>
        </div>
        <p class="icon-name">Angular</p>
      </div>
      <div class="skill-item">
        <div class="skill-icon">
          <div class="icon-placeholder"></div>
        </div>
        <p class="icon-name">TypeScript</p>
      </div>
      <div class="skill-item">
        <div class="skill-icon">
          <div class="icon-placeholder"></div>
        </div>
        <p class="icon-name">JavaScript</p>
      </div>
      <div class="skill-item">
        <div class="skill-icon">
          <div class="icon-placeholder"></div>
        </div>
        <p class="icon-name">HTML</p>
      </div>
      <div class="skill-item">
        <div class="skill-icon">
          <div class="icon-placeholder"></div>
        </div>
        <p class="icon-name">Scrum</p>
      </div>
      <div class="skill-item">
        <div class="skill-icon">
          <div class="icon-placeholder"></div>
        </div>
        <p class="icon-name">Firebase</p>
      </div>
    </div>
    <div class="skill-row skill-row-2">
      <div class="skill-item">
        <div class="skill-icon">
          <div class="icon-placeholder"></div>
        </div>
        <p class="icon-name">Git</p>
      </div>
      <div class="skill-item">
        <div class="skill-icon">
          <div class="icon-placeholder"></div>
        </div>
        <p class="icon-name">CSS</p>
      </div>
      <div class="skill-item">
        <div class="skill-icon">
          <div class="icon-placeholder"></div>
        </div>
        <p class="icon-name">REST-API</p>
      </div>
      <div class="skill-item">
        <div class="skill-icon">
          <div class="icon-placeholder"></div>
        </div>
        <p class="icon-name">Material Design</p>
      </div>
      <div class="skill-item">
        <div class="skill-icon">
          <div class="icon-placeholder"></div>
        </div>
        <p class="icon-name">Growth mindset</p>
      </div>
      <div class="skill-item">
        <div class="skill-icon">
          <div class="icon-placeholder"></div>
        </div>
        <p class="icon-name">React</p>
      </div>
    </div>
  </div>
</section>